<h1>新規投稿</h1>
<%= form_with model: @question, url:"/questions", local:true do |f| %>
  <h4>科目</h4>
  <%= f.select :subject, Question.subjects.keys, {} %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>質問内容</h4>
  <%= f.text_area :body %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>理解度</h4>
  <%= f.select :status, Question.statuses.keys, {} %>
  <h4>サンクスポイント</h4>
  <%= f.text_field :point %>

  <%= f.submit "投稿する" %>
<% end %>