<main>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
  <% if @user.errors.any? %>
    <div id="error-explanation">
      <ul>
         <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model:@user, local:true do |f| %>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <h2>プロフィール編集</h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="profile_image edit_image">
          <%= attachment_image_tag @user, :profile_image, size:"200x200", fallback: "no_image.jpg", class: 'rounded-circle edit_image' %>
        </div>
          <%= f.attachment_field :profile_image, fallback: "no_image.jpg" %>
      </div>

      <div class="mx-auto col-md-7 offset-md-1">

          <div class="form-group">
            <%= f.label :name, 'ユーザーネーム' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :word, 'ひとこと' %>
            <%= f.text_field :word, class: 'form-control' %>
          </div>


          <div class="form-group">
            <%= f.label :introduction, '自己紹介（300文字以内）' %>
            <%= f.text_area :introduction, :maxlength => "300", :size => "80x5",  class: 'form-control'  %>
          </div>

          <div class="al-c"><%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %></div>

      </div>

    </div>
  </div>
  <% end %>
  
</main>