<main>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-12">
        <% if params[:order_sort] ==  "0" %>
        <h4>投稿した質問</h4>
        <% elsif params[:order_sort] ==  "1" %>
        <h4>回答した質問</h4>
        <% else %>
        <h4>保存した質問</h4>
        <% end %>
        <table class="table">
          <tr>
            <th>科目</th>
            <th>タイトル</th>
            <th>理解度</th>
            <th>コメント数</th>
            <th>ステータス</th>
            <th>ポイント</th>
          </tr>
           <% @questions.first(10).each do |question| %>
           <tr>
            <td><%= question.subject %></td>
            <td><%= link_to question.title, question_path(question.id) %></td>
            <td><%= question.status %></td>
            <td><%= question.comments.count %></td>
            <td><%= question.is_solved ? "解決済":"未解決" %></td>
        　   <td><%= question.point %></td>
          </tr>
          <% end %>
         </table>
        <%= paginate @questions %>
    </div>
  </div>
</main>