<h1>マイページ</h1>
<p>ユーザー名</p>
<%= @user.name %>
<%= attachment_image_tag @user, :profile_image, size:"50x50" %>
<p>目標<p>
<%= @user.goal %>
<p>自己紹介</p>
<%= @user.introduction %>
<p>ポイント</p>
<p><%= @user.point %>ポイント</p>
  <div>
    <%= link_to "質問履歴", edit_user_path(@user) %>
    <%= link_to "解答履歴", edit_user_path(@user) %>
    <%= link_to "保存した質問", edit_user_path(@user) %>
  </div>


<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>

<% if @bookmarks.present? %>
<div>
  <p>保存した質問</p>
    <table>
      <tr>
        <th>科目</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>理解度</th>
        <th>コメント数</th>
        <th>ステータス</th>
      </tr>
      <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.subject %></td>
        <td><%= link_to bookmark.title, question_path(question.id) %></td>
        <td><%= link_to bookmark.body.truncate(30), question_path(question.id) %></td>
        <td><%= bookmark.status %></td>
        <td><%= bookmark.comments.count %></td>
        <td><%= bookmark.is_solved ? "解決済み":"回答受付中" %></td>
      </tr>
      <% end %>
    </table>
</div>
<% end %>