<h1>TOPページ</h1>
<div>
  <p>新着質問</p>
    <table>
      <tr>
        <th>科目</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>理解度</th>
        <th>コメント数</th>
        <th>ステータス</th>
      </tr>
      <% @questions.first(5).each do |question| %>
      <tr>
        <td><%= question.subject %></td>
        <td><%= link_to question.title, question_path(question.id) %></td>
        <td><%= link_to question.body.truncate(30), question_path(question.id) %></td>
        <td><%= question.status %></td>
        <td><%= question.comments.count %></td>
        <td><%= question.is_solved ? "解決済み":"回答受付中" %></td>
      </tr>
      <% end %>
    </table>
    <p><%= link_to "もっと見る", questions_path %></p>
</div>

<div>
  <p>ランキング</p>
    <table>
      <tr>
        <th></th>
        <th>ユーザー</th>
        <th>ポイント数</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, size:"50x50" %></td>
        <td><%= user.name %></td>
        <td><%= user.point %></td>
      </tr>
      <% end %>
    </table>
</div>