<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-expand navbar-dark bg-dark navbar-fixed-top", style="background-color: #432c28;">
  <div class="container">
    <div class="row">
      <%= link_to "TeachMe", root_path, class: "navbar-brand" %>
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "質問をする", new_question_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "TeachMeとは？", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>

      <div class="search-form">
        <%= form_tag(search_questions_path, :method => "get") do %>
          <%= text_field_tag :search %>
          <%= submit_tag "質問を検索" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
    <%= yield %>

    <footer>
    　<div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight TeachMe.inc</p>
          </div>
        </div>
      </div>
     </footer>
  </body>
</html>
